body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:   #2d5449;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
}

a{
    color: #a55c5a;
}

.wrapper{
    width: 600px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

code{
    display: block;
    padding: 16px;
    margin-top: 8px;
    background-color: #150e10;
    color: #b20150;
}
